 body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        background-image: url(Imagens/a9329b6beb4d240a05cef743877b59eb.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

        .main{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 320px;
            width: 350px;
            border-radius: 100px;
            background-color: rgb(255, 255, 255);
            border: solid 2px;
            border-color:rgba(0, 0, 255, 0.699);
        }

        form{
            text-align: center;
        }

        form>a{
            text-decoration: none;
        }

        button{
            width: 120px;
            height: 20px;
            border-radius: 10px;
            color: white;
            background-color: rgba(0, 0, 255, 0.699);
        }

        input{
            outline: none;
            border-radius:5px;
            border-color: rgba(0, 0, 255, 0.699);
        }

        hr{
            border: solid 1px;
            border-color:  rgba(0, 0, 255, 0.699);
            width: 135px;
        }

        footer{
            position: absolute;
            color: white;
            bottom: 2%;
        }

        footer>a{
            text-decoration: none;
            color: white;
        }
